<!DOCTYPE html>
<html lang="zh-CN" dir="ltr" class="redesign no-js"  data-ffo-opensanslight=true data-ffo-opensans=true >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link href="../css/style.css" rel="stylesheet" type="text/css" />
  <title>医案数据转换工具</title>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
<script>
    var fangs = ["桂枝汤",
	"麻黄汤",
	"小柴胡汤",
	"大承气汤",
	"理中汤",
	"四逆汤",
	"乌梅丸",
	"柴胡桂枝干姜汤",
	"半夏泻心汤",
	"生姜泻心汤",
	"甘草泻心汤",
	"大黄黄连泻心汤",
	"大柴胡汤",
	"桃核承气汤",
	"柴胡加龙骨牡蛎汤",
	"栀子豉汤",
	"五苓散",
	"茯苓桂枝白术甘草汤",
	"大青龙汤",
	"小青龙汤",
	"葛根黄芩黄连汤",
	"葛根汤",
	"大陷胸丸",
	"大陷胸汤",
	"小陷胸汤",
	"茵陈蒿汤",
	"吴茱萸汤",
	"麻子仁丸",
	"麻黄连翘赤小豆汤",
	"黄连阿胶汤",
	"桃花汤",
	"桔梗汤",
	"四逆散",
	"真武汤",
	"当归四逆汤",
	"白头翁汤",
	"调胃承气汤",
	"芍药甘草汤",
	"甘草干姜汤",
	"麻黄杏仁甘草石膏汤",
	"桂枝甘草汤",
	"厚朴生姜甘草半夏人参汤",
	"小建中汤",
	"抵当汤",
	"桂枝茯苓丸",
	"胶艾汤",
	"当归芍药散",
	"干姜人参半夏丸",
	"枳实芍药散",
	"竹叶汤",
	"竹皮大丸",
	"当归贝母苦参",
	"大黄牡丹皮汤",
	"薏苡附子败酱散",
	"排脓散",
	"黄连粉",
	"厚朴七物汤",
	"大黄附子汤",
	"大建中汤",
	"附子粳米汤",
	"栝蒌薤白白酒汤",
	"栝蒌薤白半夏汤",
	"枳实薤白桂枝汤",
	"茯苓杏仁甘草汤",
	"橘枳生姜汤",
	"桂枝生姜枳实汤",
	"桔梗白散",
	"射干麻黄汤",
	"麦门冬汤",
	"厚朴麻黄汤",
	"越婢加半夏汤",
	"越婢汤",
	"茯苓饮",
	"茯苓桂枝五味甘草汤",
	"苓甘五味加姜辛半夏杏仁汤",
	"小半夏汤",
	"泽泻汤",
	"木防己汤",
	"十枣汤",
	"己椒苈黄丸",
	"甘遂半夏汤",
	"肾气丸",
	"黄芩汤",
	"小承气汤",
	"茯苓泽泻汤",
	"大半夏汤",
	"栀子大黄汤",
	"栝蒌瞿麦丸",
	"蒲灰散",
	"枳术汤",
	"黄芪芍药桂酒汤",
	"越婢加术",
	"防己茯苓汤",
	"桂枝龙骨牡蛎汤",
	"黄芪建中汤",
	"薯蓣丸",
	"酸枣汤",
	"大黄庶虫丸",
	"黄芪桂枝五物汤",
	"升麻鳖甲汤",
	"赤小豆当归散",
	"苦参汤",
	"百合知母汤",
	"百合地黄汤",
	"防己黄芪汤",
	"桂枝附子汤",
	"甘草附子汤",
	"麻黄杏仁薏苡甘草汤",
	"桂枝芍药知母汤",
	"黄土汤",
	"柏叶汤",
	"大黄黄连泻心汤",
	"白虎汤"];
    var dataok = true;
	var pixarray = new Array(32*48);
	var socket = io();

	pixarray.length = 32*48;

	socket.on('connect', function(){
	});
	for (var i = 0; i < pixarray.length; i++)
	    pixarray[i] = 0;

	function submitdata() {
		//console.log(pixarray);
        var jing = document.getElementById("jing").value;
        var fang = document.getElementById("fang").value;
		console.log(jing);
		console.log(fang);
		socket.emit('fill', {msg:pixarray, jing:jing, fang:fang});
	}

    function changecolor(id) {
	var tds = document.getElementsByTagName("td");

    for (var i = 0, j = tds.length; i < j; ++i)
        tds[i].style.backgroundColor = "#ff0000";
    }

    function toindicate(obj) {
		var num = parseInt(obj.id);
		var hintx = Math.round(num%33)+1;
		var hinty = Math.floor(num/33)+1;
		//console.log(hintx);
		//console.log(hinty);
		obj.innerHTML = colms[num%33+1]+conts[Math.floor(num/33)+1];
	}
   
    function restorehint(obj) {
		obj.innerHTML = " "
	}

    function searchfang(e) {
		var keynum;
		var fang = RegExp(document.getElementById("fang").value);
		console.log(fang);
		if (window.event) { // IE
			keynum = e.keyCode
		} else if (e.which) { // Netscape/Firefox/Opera
			keynum = e.which
		}
	    console.log(keynum);

		for (var i = 0; i < fangs.length; i++) {
			if (keynum > 48 && keynum < 90 || keynum === 32) {
                if (fangs[i].match(fang)) {
		            document.getElementById("fang").value = fangs[i];
			        break;
				}
			}
		}
	}

    function mok(id) {
		if (dataok) {
		    console.log(id);
			pixarray[parseInt(id)] = 0xff;
			dataok = false;
	        document.getElementById(id).style.background = "#0FF000";
		} else {
			dataok = true;
	        document.getElementById(id).style.background = "#00FFF0";
		}
	}
</script>
<header id="banner" class="body">
<h2 onClick="submitdata(); this.innerHTML='OK'">选好了就点这里交卷吧</h2>
<input name="label" type="text" id="jing" placeholder="什么经"> </input> </br>
<input name="label" type="text" id="fang" placeholder="什么方" onkeyup="searchfang(event)"> </input>
</header><!-- /#banner -->
<aside id="featured" class="body">
<table onClick="" border=1>
<script>
for(var i = 0;i < 49;i++){//画行 0,   1,   2,   3,     4,     5,   6,     7,   8,     9,     10,    11,   12,   13,   14,  15
	var conts = new Array(      " ", " ", "痰","咳",  "呕",  "气","晕",  "悸","痛",  "痒",  "疮",  "疹", "胀", "伤", "寒", "热",
			                    "苦","甜","酸","辛",  "咸",  "烦","闷",  "狂","干",  "湿",  "黄",  "黑", "绿", "白", "红", "强", "弱",
								"浮","沉","数","迟",  "滑",  "弦","细",  "芤","涩 ", "代 ",  " ",   " ",  "",  " ",  " ",  " ", "" );
	if (i === 0) {
	var colms = new Array(      " ", " ", "心","顶",  "眼",  "口","舌",  "鼻","耳",  "咽",  "面",  "脑后","颈", "胸","胃","少腹",
			                    "背","腰","臀","生殖","臂",  "腿","膝", "腘窝","脚","大便","小便", "形",  "脉",  " ",  " ",  " ",  " ", " ");
		document.write("<tr>");
		for (var j = 0; j < 33; j++) {
	         document.write("<td  width=30  height=25 bgcolor=#fff000>"+colms[j]+"</td>");
		}
		continue;
	}
	document.write("<tr>");
	for(var j = 0;j < 33;j++){//画列
		var tmp = (i-1)*33+j-1;
		if (j === 0)
	        document.write("<td  width=30  height=25 bgcolor=#fff000>"+conts[i]+"</td>");
		else{
			if (conts[i] === " " || colms[j] === " ")
	            document.write("<td id="+tmp+" width=30  height=25 bgcolor=#00fff0 onClick=''> </td>");
            else
	            document.write("<td id="+tmp+" width=30  height=25 bgcolor=#00fff0 onmouseout=restorehint(this) onmouseover=toindicate(this) onClick='mok(this.id)'> </td>");
		}
	}
	document.write("</tr>");
}
</script>
</table>
<br></br>

</aside>
</body>
