<!DOCTYPE html>

<html lang="zh-CN">
<head>
<meta charset="utf-8">
	<title> 智能机器中医师 </title>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="../css/s.css" />
</head>
<body>
<div> 
</div>
	<div>
	<h1>
	<br>
	<br>
	桐君无事
	<br>
	</h1>
	</div>
	<h3></h3>
	<h3>项目发心</h3>
	<div class="c1">
	<img src="../img/u1.png" alt="some_text">
	</div>
	<h3></h3>
	<h3>项目介绍</h3>
	<div class="c1">
		<a href="http://123.59.137.72:8090"><img src="../img/intro.jpg" alt="some_text"></a>
	</div>

</table>
    </div>
	<div class="c1">
		<a href="http://123.59.137.72:8090""><img src="../img/u2.jpg" alt="some_text"></a>
	</div>
</body>
<footer>
   <div>
   	<h2>
   	智能机器中医师服务由李广个人提供，本服务不做任何保证，亦不具有处方权，请酌情使用。</h2
   </div>
</footer>

</html>
